* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}

.nav-container {
    padding: 90px 25px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.nav-container ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-weight: 600;
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: space-between;

}

/* intro styles */


.intros {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 130px;
}


.intro-title {
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
}

.intro-description {
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
}

.intro-btn {
    color: aliceblue;
    padding: 10px 24px;
    gap: 8px;
    background: #E02C6D;
    border-radius: 41px;
    border: none;
}

/* logo */
.intro-logos {
    display: flex;
    width: 100%;
    max-width: 1110px;
    gap: 60px;
    margin: 0 auto;
    padding: 35px 60px;
}


/* main starts */
/* item styles */
.items {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
}

.item-heading {
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
}

.item {
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    margin: 30px;
    border-radius: 5px;
    padding: 17px 15px;
    box-shadow: lightslategray 5px 5px 5px;
}

.item-title {
    font-weight: 500;
    font-size: 28px;
}

.item-price {
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}

.item-description {
    color: #787885;
    font-weight: 700;
    font-size: 14px;
}

.item-icons {
    font-weight: 700;
    font-size: 14px;
    color: #787885
}

.fa-star,
.fa-star-half {
    color: #FB8200;
}

.item-stuffs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

#more {
    text-align: right;
    margin: 0 auto;
    max-width: 1170px;
    font-weight: 700;
    font-size: 16px;
    color: rgba(224, 44, 109, 0.87);
}

/* feature  */
.sec-feature {
    margin-top: 150px;
}

.feature {
    display: flex;
    width: 100%;
    max-width: 1100px;
    gap: 100px;
    margin: 0 auto;
}

.feature-title {
    font-weight: 700;
    font-size: 38px;
}

.feature-description {
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
}

.feature-btn {
    width: 155px;
    height: 44px;
    color: #FFFFFF;
    background: #E02C6D;
    border: none;
    border-radius: 5px;
}

footer {
    margin-top: 120px;

}

.sec-footer {
    background-color: #0A0826;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 400px;
}

.footer-h {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.footer-p {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
}

.f-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #FFFFFF;
    margin: 0 auto;
}

/* responsive */
@media only screen and (max-width: 576px) {
    .nav-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 10px;
    }

    .nav-container ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: left;
        padding-left: 10px;
    }

    .intros {
        flex-direction: column-reverse;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        padding-left: 10px;
    }

    .intro-logos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 10px;
    }

    .item-stuffs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 10px;
    }

    .feature {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        padding-left: 10px;
    }

    footer {
        display: flex;
        justify-content: center;


    }
    .footer-h, .footer-p{
        text-align: center;
    }
}